[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyexcel = "*"
"path.py" = "*"
braceexpand = "*"
six = "*"
regex = "*"
pyexcel-xls = "*"
futures = "*"
psutil = "*"
dateparser = "*"
simplejson = "*"
pyexcel-xlsx = "*"


[dev-packages]

"flake8" = "*"
ptpython = "*"
cprofilev = "*"
sphinx = "*"
flask-sphinx-themes = "*"
nose = "*"